In [10]:
import pandas as pd
import numpy as np

origin = pd.read_excel('./try.xlsx', sheet_name='出发点')
origin['key'] = 1

dest = pd.read_excel('./try.xlsx', sheet_name='目的地')
dest['key'] = 1

od = origin.merge(dest, how='outer', on='key')
od1 = od[0:23323]
od2 = od[23323:]
#od1.set_index('出发点').to_excel('od1.xlsx')
#od2.set_index('出发点').to_excel('od2.xlsx')
od

,出发点,x1,y1,origin,key,目的地,x2,y2,dest
0,1010,114.108986,22.537722,"114.108986076905,22.5377222393665",1,1,114.049125,22.555866,"114.049124550549,22.5558660913235"
1,1010,114.108986,22.537722,"114.108986076905,22.5377222393665",1,2,114.042389,22.558680,"114.042388795207,22.5586800807236"
2,1010,114.108986,22.537722,"114.108986076905,22.5377222393665",1,3,114.139618,22.616430,"114.139618117015,22.6164303469781"
3,1010,114.108986,22.537722,"114.108986076905,22.5377222393665",1,4,114.192729,22.634618,"114.192728954979,22.6346177536559"
4,1010,114.108986,22.537722,"114.108986076905,22.5377222393665",1,5,113.987458,22.594370,"113.987457974411,22.5943695873472"
...,...,...,...,...,...,...,...,...,...
46640,8380,114.582051,22.489224,"114.582051351474,22.4892235730346",1,91,114.126255,22.606677,"114.12625503794,22.6066765153623"
46641,8380,114.582051,22.489224,"114.582051351474,22.4892235730346",1,92,113.995969,22.525549,"113.995969015894,22.5255491760119"
46642,8380,114.582051,22.489224,"114.582051351474,22.4892235730346",1,93,113.944398,22.751388,"113.944398421093,22.75138762459"
46643,8380,114.582051,22.489224,"114.582051351474,22.4892235730346",1,94,114.102887,22.573470,"114.102887122195,22.5734696249486"
46644,8380,114.582051,22.489224,"114.582051351474,22.4892235730346",1,95,114.079715,22.538342,"114.079715032639,22.5383415768175"

In [22]:
# 处理结果数据
df1 = pd.read_excel('公交od1.xlsx')
df2 = pd.read_excel('公交od2.xlsx')
df3 = pd.read_excel('drivingod1.xlsx')
df4 = pd.read_excel('drivingod2.xlsx')
df5 = pd.read_excel('walkingod1.xlsx')
df6 = pd.read_excel('walkingod2.xlsx')

In [26]:
od1 = df1.merge(df3, how='inner', on=['出发点','目的地'])\
        .merge(df5, how='inner', on=['出发点','目的地'])
od2 = df2.merge(df4, how='inner', on=['出发点','目的地'])\
        .merge(df6, how='inner', on=['出发点','目的地'])
od = pd.concat([od1, od2])

res_df = od[['出发点','origin_x','目的地','dest_x','公交时间','duration_distance_x','duration_distance_y']]
res_df.columns = ['出发点','origin','目的地','destination','公交时间','驾车时间距离','步行时间距离']
res_df.set_index('出发点').to_excel('result.xlsx')
res_df

,出发点,origin,目的地,destination,公交时间,驾车时间距离,步行时间距离
0,1010,"114.108986076905,22.5377222393665",1,"114.049124550549,22.5558660913235",2280,"1032,10100","6472,8090"
1,1010,"114.108986076905,22.5377222393665",2,"114.042388795207,22.5586800807236",2420,"1081,10501","7134,8918"
2,1010,"114.108986076905,22.5377222393665",3,"114.139618117015,22.6164303469781",2554,"1589,12049","8946,11182"
3,1010,"114.108986076905,22.5377222393665",4,"114.192728954979,22.6346177536559",3613,"1996,16272","14298,17873"
4,1010,"114.108986076905,22.5377222393665",5,"113.987457974411,22.5943695873472",4446,"1806,23117","18895,23619"
...,...,...,...,...,...,...,...
23317,8380,"114.582051351474,22.4892235730346",91,"114.12625503794,22.6066765153623",9169,"5387,66564","58008,72510"
23318,8380,"114.582051351474,22.4892235730346",92,"113.995969015894,22.5255491760119",10490,"6005,78584","71126,88907"
23319,8380,"114.582051351474,22.4892235730346",93,"113.944398421093,22.75138762459",13609,"7364,97036","73419,91774"
23320,8380,"114.582051351474,22.4892235730346",94,"114.102887122195,22.5734696249486",9233,"5099,68082","61574,76967"
23321,8380,"114.582051351474,22.4892235730346",95,"114.079715032639,22.5383415768175",9704,"5549,69167","62543,78179"